* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  /* background-color: #F2EDD7FF; */
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    main { width:67%; }
    .sidenav { width:30%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 850px) {

    body { height: auto !important; overflow-y: scroll !important; }
    .main { width:82% !important; height: auto !important; margin-left:20% !important; }
    .sidenav { width:20% !important; }
    .sidenav a { font-size:17px !important; }
    div[class^="back1"] { background-size: cover !important; }
    .quotes2 { width:90% !important; padding-left: 30px !important; font-size: 20px !important;}
    .quotes { width:90% !important; font-size: 27px !important; }
    .h4 { width:90% !important; font-size: 14px !important; }
    .progressbar { width:80% !important; }
    .box-front { font-size: 15px !important; margin:25px 0px 0px 60px !important; }
    .box:hover .box-in { transform: none !important ; }
    .box-back { display: none !important; }
    div[class^='second_bar'] { margin:-25px 0px 0px 100px !important; width: 100% !important;}
    div[class^='skills_text'] div[class^='h4']{ width:200% !important; }
    .gallery, .gallery img { height: 150px !important; width:250px !important;}
    .gallery { margin:30px -20px 0px 80px !important;}
    .gallery img[class^='move'] { margin-top: -150px !important; }
    .col-sm span { font-size: 20px !important; margin-left:100px !important; }
    .col-sm label { margin:0px !important; }
    .gallery img[class^='move']:hover {transform: translate(-250px, 0) !important; }

    /* .contact_first div[class^='quotes2']{ display: none !important; } */
    div[class^="back4"] { background-size: cover !important; }
    .contact_box { margin:50px 0px 0px 100px !important; }
    span[class^='contact_text'] { font-size: 20px !important; margin: 0px !important; color:#FFFFFF !important; }
    .reachme img {height: 60px !important; }
    .reachme a { padding-right:2.8vw;}
    .git_img { 	content:url("images/git1.png") !important; }
    .contact_second { margin:150px 100px 0px -50% !important; width:60% !important;
                      background-color: transparent !important;}
    .contact_second svg { height: 130px !important; margin:50px 0px 0px -80px !important;
                          background-color: transparent !important; }
    .contact_second div[class^='h4'] { font-size:18px !important; margin:-120px 0px 0px 70px !important; }
    .contact_second div[class^='h4'] span[class^='the_text'] {font-size:40px !important; }
    div[class^='h4'] span[class^='d_text'] { font-size: 16px !important; }
}


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(15, 15, 15, 0.8);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(15, 15, 15, .8);
  background-color: #555;
}


.sidenav {
  height: 100%;
  width: 10vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151515;
  overflow-x: hidden;
  padding-top: 3vw;
  border-right: 1px solid #333;

}
.sidenav li {
  text-decoration: none;
}

.sidenav a {
  padding: 0.4vw 1vw 12px 1.5vw;
  font-family: "Times New Roman";
  text-decoration: none;
  font-size: 1.4vw;
  color: #F0F0F0;
  background-color: #151515;
  display: block;
}

.sidenav a:hover {
  color: #F2EDD7FF;
  font-size: 1.45vw;
  background-color: rgba(145, 17, 30, 0.3);
  text-decoration: none;
}

.main {
  margin-left: 10vw;
  padding: 0vw 0.5vw;
}


div[class^='col-lg'] div[class^='h4'] {
  margin:2vw 0vw 0vw 5.5vw;
  padding: 0px 1vw 1vw 2vw;
  color: #151515;
  background-color: #F2EDD7FF;
  font-size:1.1vw;
  font-family: "NeuzeitOfficeW01-Regula";
  letter-spacing: 0.06vw;
}

.progressbar  {
  position: relative;
  width: 14vw;
  height: 20px;
  border: 2px  solid #F2EDD7FF;
  border-radius: 1.2vw;
  margin-top: -1.4vw;
}

.progressbar span {
  position: absolute;
  border-radius: 1.2vw;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background: #660000;
  transition: all 0.001s ease-in-out;
}


.progressbar span.bar_html {
  position: absolute;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_css {
  position: absolute;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_javascript {
  position: absolute;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_php {
  position: absolute;
  top: -2vw;
  font-weight: bold;
  color: #fff;
  transition: all 0.001s ease-in-out;
}

.progressbar span.python {
  position: absolute;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}


/**
* Image Flip
*/
div[class^='box']  {
  background-color: transparent;
  width: 5vw;
  height: 33px;
  border: none;
  perspective: 1000px;
  font-size: 1.3vw;
}

.box-in {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color:transparent;
}

.box:hover .box-in {
  transform: rotateY(90deg);
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:transparent;
}

.box-back {
  transform: rotateY(270deg);
}

.quotes {
  font-size:2.8vw;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #91111E;
  padding:1.3vw 2.5vw 2.5vw 4vw;
  font-family:"Times New Roman";
}

.quotes2 {
  font-size:2.5vw;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #91111E;
  padding:1.3vw 2.5vw 2.3vw 3.8vw;
  font-family:"Times New Roman";
}

.the_text {
  letter-spacing: 0.1vw;
  font-family: italic;
  color:#91111E;
  font-size:125%;
}

.reachme {
  background-color:transparent;
  width: 15vw;
  margin-bottom: 1.5vw;
}

.reachme a {
  padding-right:2.8vw;
}
/**
* To change git image color for media
*/
.git_img{
	content:url("images/git2.png");
}

.contact_text {
  font-family:'Inter',sans-serif;
  font-size:1.3vw;
  font-weight:550;
}

.path {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: dash 12s linear alternate infinite;
}

.path2 {
  stroke-dasharray: 300;
  stroke-dashoffset: 5000;
  animation: dash 14s linear alternate infinite;
}

.path3 {
  stroke-dasharray: 550;
  stroke-dashoffset: 1600;
  animation: dash 15s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

div[class^='first_row'] {
  margin-top: 32px;
  padding-left: 8%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}

/**
* Projects image hover to left
*/
.gallery, .gallery img {
	width: 15vw;
	height: 10vw;
	overflow: hidden;
	float: left;
}

.gallery img[class^='move'] {
	transition: all linear;
  transition-duration:1s;
  transition-delay: 3s;
}

.gallery img[class^='move']:hover  {
		transform: translate(-15vw, 0);
    transition-delay: 0.3s;
}

/* .back {
  transition: none;
} */

.dot-elastic {
  position: relative;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #91111E;
  color: #91111E;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -0.8vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #151515;
  color: #151515;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 0.8vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
