* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background-color: #F2EDD7FF;
}

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}



html {
  scroll-behavior: smooth;
}

.sidenav {
  height: 100%;
  width: 10vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151515;
  overflow-x: hidden;
  padding-top: 3vw;
  border-right: 2px solid #333;

}
.sidenav li {
  text-decoration: none;
}

.sidenav a {
  padding: 0.4vw 1vw 0.4vw 1.5vw;
  font-family: "Times New Roman";
  text-decoration: none;
  font-size: 1.4vw;
  color: #F0F0F0;
  background-color: #151515;
  display: block;
}

.sidenav a:hover {
  color: #F2EDD7FF;
  text-decoration: none;
}

.main {
  margin-left: 10vw;
  padding: 0vw 0.5vw;
}


div[class^='col-lg'] div[class^='h4'] {
  margin:2vw 0vw 0vw 5.5vw;
  padding: 0px 1vw 1vw 2vw;
  color: #151515;
  background-color: #F2EDD7FF;
  font-size:1.1vw;
  font-family: "NeuzeitOfficeW01-Regula";
  letter-spacing: 0.06vw;
}

.progressbar  {
  position: relative;
  width: 27vw;
  height: 20px;
  border: 2px  solid #9B8208;
  border-radius: 1.2vw;
  margin-top: -1.4vw;
  margin-left: 6vw;
}

.progressbar span {
  position: absolute;
  border-radius: 1.2vw;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background: #91111E;
  transition: all 0.001s ease-in-out;
}

.progressbar span.bar_html {
  position: absolute;
  right: 3px;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_css {
  position: absolute;
  right: 3px;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_javascript {
  position: absolute;
  right: 3px;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}

.progressbar span.bar_php {
  position: absolute;
  right: 30px;
  top: -2vw;
  font-weight: bold;
  color: #fff;
  transition: all 0.001s ease-in-out;
}

.progressbar span.python {
  position: absolute;
  right: 3px;
  top: -2vw;
  font-weight: bold;
  color: #fff;
}


/**
* Image Flip
*/
div[class^='box']  {
  background-color: transparent;
  width: 5vw;
  height: 33px;
  border: none;
  perspective: 1000px;
  font-size: 1.1vw;
}

.box-in {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.box:hover .box-in {
  transform: rotateY(90deg);
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box-back {
  transform: rotateY(270deg);
}

.quotes {
  font-size:2.8vw;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #91111E;
  padding:1.3vw 2.5vw 2.5vw 4vw;
  font-family:"Times New Roman";
}

.quotes2 {
  font-size:2.5vw;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #91111E;
  padding:1.3vw 2.5vw 2.3vw 3.8vw;
  font-family:"Times New Roman";
}

.the_text {
  letter-spacing: 0.1vw;
  font-family: italic;
  color:#91111E;
  font-size:125%;
}

.reachme {
  background-color:transparent;
  width: 15vw;
}

.reachme a {
  padding-right:2.8vw;
}

.contact_text {
  font-family:'Inter',sans-serif;
  font-size:1.2vw;
  font-weight:550;
}

.path {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: dash 12s linear alternate infinite;
}

.path2 {
  stroke-dasharray: 300;
  stroke-dashoffset: 5000;
  animation: dash 14s linear alternate infinite;
}

.path3 {
  stroke-dasharray: 550;
  stroke-dashoffset: 1600;
  animation: dash 15s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

div[class^='first_row'] {
  margin-top: 32px;
  padding-left: 8%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}

/**
* Projects image hover to left
*/
.gallery, .gallery img {
	width: 15vw;
	height: 10vw;
	overflow: hidden;
	float: left;
}

.gallery img[class^='move'] {
	transition: all linear;
  transition-duration:1s;
  transition-delay: 3s;
}

.gallery img[class^='move']:hover  {
		transform: translate(-15vw, 0);
    transition-delay: 0.3s;
}

/* .back {
  transition: none;
} */

.dot-elastic {
  position: relative;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #91111E;
  color: #91111E;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -0.8vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #151515;
  color: #151515;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 0.8vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: #151515;
  color: #151515;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
