* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 70px 0 70px;
}

.main-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 16%;
}

body {
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px 5px 60px ;
}

.navbar {
  background-color: #181818;
  position: fixed;
  width: 93%;
  z-index: 2;
  opacity: 98%;
  overflow: hidden;
}

header a {
  color: #B38447;
  font-size: 102%;
}
header h1 {
  color: #707070;
}

header h2 {
  color: #707070;
  font-size: 180%;
  text-transform: lowercase;
  letter-spacing: 0.3px;
}

.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #B38447;
}

li {
  list-style: none;
  padding-left: 30px;
}

a {
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section {
  height: 930px;
}

.text {
  margin-top: 260px;
}

.text h1 {
  color: #fff;
  font-size: 300%;
  cursor: context-menu;
}

.text span {
  display: inline-block;
}

span:hover {
  color: #B38447;
  transition: all .5s;
}
span.space:hover{
  color: #B38447;
}
span.name {
  color: #B38447;
}

span.space {
  margin-left: -10px;

}

.text p {
  padding-top: 2px;
  padding-left: 8px;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 83%;
  color: #707070;
  font-weight: bold;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #B38447;
  color: #B38447;
  font-size: 80%;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: '';
  background-color: #B38447;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before {
  height: 100%;
}
.profile-image {
  width: 600px;
  height: 460px;
  margin-top: 200px;
  margin-right: 150px;
}

.profile-image img {
  width: 580px;
  height: 430px;
  border: 10px solid white;
  border-style: hidden;
/*  transition: all 0.5s ease-in-out 0s; */
}

/*
.profile-image img:hover {
  border: 6px solid white;
  width: 650px;
  height: 550px;
  border-style: visible;
  border-color: #B38447;
}
*/

.about {
  height: 800px;
  background-color: #AEAEAE;
}
.work {
  background-color: #BABABA;
  padding-bottom: 50px;
}

.about h1,
.work h1 {
  padding-left: 65px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1000%;
  z-index: 0;
  opacity: 28%;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 2rem rgba(0,0,0,.4);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-image:linear-gradient(-40deg, #303030, #383838, #323232 , #282828, #262626, #222222, #1B1B1B);
}

.about-me-info p {
  font-size: 130%;
  color: #E2E2E2;
}

.about-me-info p:last-child {
  margin-top: 30px;
}

.skills {
  height: 800px;
}

.skills h1 {
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  font-size: 1000%;
  opacity: 20%;
}

.contact h1 {
  padding-right: 70px;
  padding-bottom: 30px;
  text-align: right;
  font-size: 1000%;
  opacity: 20%;
}

.skills-info {
  font-size: 145%;
  color: #E2E2E2;
  max-width: 850px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 55px;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

div[class^='tag-'] {
  border: 1.3px solid #000;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  letter-spacing: 1px;
  opacity: 83%;
  padding: 3px;
  width: 90px;
  height: 33px;
  background-color: #91111E;
  margin-right: 40px;
}

div[class^='tag-'] div {
  text-align: center;
  font-size: 105%;
  padding-right: 5px;
}

/**
* Image Flip
*/
.box {
  background-color: transparent;
  width: 90px;
  height: 33px;
  border: none;
  perspective: 1000px;
}

.box-in {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.box:hover .box-in {
  transform: rotateY(90deg);
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box-back {
  transform: rotateY(270deg);
}


.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px  solid #9B8208;
  border-radius: 20px;
  margin-top: 7px;
}

.progressbar span {
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background: #91111E;
  transition: all 0.001s ease-in-out;
}

.progressbar span.bar_html {
  position: absolute;
  right: 3px;
  top: -29px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;

}

.progressbar span.bar_css {
  position: absolute;
  right: 3px;
  top: -29px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.progressbar span.bar_javascript {
  position: absolute;
  right: 3px;
  top: -29px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.progressbar span.bar_php {
  position: absolute;
  right: 3px;
  top: -29px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  transition: all 0.001s ease-in-out;
}

.work-category{
    padding-left: 10%;
}

.work-category button {
  border: 2px solid #91111E;
  padding: 15px 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #91111E;
  outline: none;
}


div[class^='category-'] {
  margin-top: 32px;
  padding-left: 8%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}

div[class^='first_image'] img:hover  {
  border: none;
  max-width: 700px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(145,17,30,.5);
  position: relative;
  transition: all 0.6s ease-in-out;
  transform: scale(1.15) ;
  z-index: 1;
}
.work a {
  justify: center;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}

.work a img {
  width: 350px;
  height: 230px;
  justify: center;
  border: 1.3px solid #B50030;
  border-radius: 3px;
}

form input,
form textarea {
  display: block;
  width: 520px;
  padding: 22px;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 20px;
  outline: none;
  font-size: 120%;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child {
  width:150px;
  background-color: #91111E;
  border:none;
  border-radius: 2px;
  cursor: pointer;
}

footer hr {
  margin-left: 70px;
  margin-right: 70px;
  border: 2px solid #707070;
  margin-top: 60px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 120%;
  padding: 28px;
}
